<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Welcome a Pinterest Clone by GrowthCode!</h1>
      <p>
        You've found the home page for the
        <%= link_to "Pinterest Clone", root_path %>, so come on and it out!
      </p>
      <p>
        <%= link_to "New User", '#', { class: "btn btn-large btn-primary" } %>
      </p>
    </div>
  </div>
</div>
