<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Welcome a Pinterest Clone by GrowthCode!</h1>
      <p>
        You've found the home page for the
        <%= link_to "Pinterest Clone", root_path %>.
      </p>
      <p>
        Try it out and <%= link_to "Sign Up Now!", '#' %>
      </p>
    </div>
  </div>
</div>
