<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="footer">
        <small>
          <%= link_to '<gc/pinterest>', root_path %>
          by <%= link_to "Hethe Berg", "http://growthcode.herokuapp.com" %>
        </small>
      </div>
    </div>
  </div>
</div>
